<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GooMall后台管理中心</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header admin-header">
        <div class="layui-logo">GooMall后台管理中心</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{/admin}">控制台</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">管理团队</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/admin/admin-member}">管理员信息</a></dd>
                    <dd><a th:href="@{/admin/log}">操作日志</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="'管理员: ' + ${session?.loginAdmin?.realName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/admin/logout}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll admin-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree admin-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商铺管理</a>
                    <dl class="layui-nav-child">
                        <dd><a class="shop-review-link" th:href="@{/admin/shop/review}"
                               th:classappend="${locationMode?.mode eq 'review'}? 'admin-nav-on'">商铺审核</a></dd>
                        <dd><a th:href="@{/admin/shop/info}"
                               th:classappend="${locationMode?.mode eq 'info'}? 'admin-nav-on'">商铺信息</a></dd>
<!--                        <dd><a th:href="@{/admin/shop/seller}"-->
<!--                               th:classappend="${locationMode?.mode eq 'seller'}? 'admin-nav-on'">卖家管理</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item" th:classappend="${locationMode?.location eq 'goods'} ? 'layui-nav-itemed'">
                    <a href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/goods/category}"
                               th:classappend="${locationMode?.mode eq 'spu-category'}? 'admin-nav-on'">商品分类</a></dd>
                        <dd><a th:href="@{/admin/goods/spu-info}"
                               th:classappend="${locationMode?.mode eq 'spu-info'}? 'admin-nav-on'">商品信息</a></dd>
<!--                        <dd><a th:href="@{/admin/goods/sku-info}"-->
<!--                               th:classappend="${locationMode?.mode eq 'sku-info'}? 'admin-nav-on'">库存信息</a></dd>-->
                    </dl>
                </li>
<!--                <li class="layui-nav-item"><a href="">订单管理</a></li>-->
<!--                <li class="layui-nav-item"><a href="">用户管理</a></li>-->
                <li class="layui-nav-item"><a th:href="@{/admin/advertisement}" th:classappend="${locationMode?.location eq 'advertisement'}? 'admin-nav-on'">广告运营</a></li>
                <li class="layui-nav-item"><a th:href="@{/admin/feedback}" th:classappend="${locationMode?.location eq 'feedback'}? 'admin-nav-on'">意见反馈</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div th:if="${locationMode?.location eq 'index'}" class="admin-index">
                后台首页
            </div>
            <div th:if="${locationMode?.location eq 'shop'}" class="shop-m">
                <div th:if="${locationMode?.mode eq 'review'}" class="shop-review">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>信用度</th>
                            <th>店铺名</th>
                            <th>店铺描述</th>
                            <th>申请时间</th>
                            <th>修改时间</th>
                            <th>审核管理员</th>
                            <th>申请状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="record : ${recordList}">
                            <td th:text="${record.id}"></td>
                            <td th:text="${record.realName}"></td>
                            <td th:text="${record.credit}"></td>
                            <td th:text="${record.shopName}"></td>
                            <td th:text="${record.shopDescription}"></td>
                            <td th:text="${#dates.format(record.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(record.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${record.reviewAdmin}"></td>
                            <td><span th:text="${record.reviewStatus}" th:classappend="${record.reviewStatus eq '已通过'}?'agreed-td':'no-agreed-td'"></span></td>
                            <td>
                                <div class="agree-wrapper" th:if="${record.reviewAdmin eq '无'}">
                                    <a class="layui-btn layui-btn-normal record-agree-btn"
                                       th:href="@{'/admin/shop/review/agree/' + ${record.id}}">同意</a>
                                </div>
                                <div class="agree-wrapper" th:if="${record.reviewAdmin != '无'}">
                                    <a class="layui-btn layui-btn-normal record-agreed" th:href="@{#}">无</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="shop-review-page-info" style="float: right"></div>
                </div>
                <div th:if="${locationMode?.mode eq 'info'}" class="shop-info">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>商铺头像</th>
                            <th>商铺名称</th>
                            <th>商铺评分</th>
                            <th>商铺押金</th>
                            <th>商铺收益</th>
                            <th>商铺状态</th>
                            <th>开店时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shop : ${shopList}">
                            <td th:text="${shop.id}"></td>
                            <td><img th:src="@{'/image/head/' + ${shop.shopImage}}" width="50px" height="50px"></td>
                            <td th:text="${shop.shopName}"></td>
                            <td th:text="${shop.shopScore}"></td>
                            <td th:text="${shop.shopDeposit}"></td>
                            <td th:text="${shop.shopAccount}"></td>
                            <td th:text="${shop.shopStatus}"></td>
                            <td th:text="${#dates.format(shop.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <div class="shop-info-wrapper">
                                    <a class="layui-btn layui-btn-normal shop-info-more-btn"
                                       href="javascript:void(0);" th:shop-id="${shop.id}">更多信息</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="shop-info-page-info" style="float: right"></div>
                </div>
                <div th:if="${locationMode?.mode eq 'seller'}" class="seller-manage"></div>
            </div>
            <div th:if="${locationMode?.location eq 'goods'}" class="spu-m">
                <div th:if="${locationMode?.mode eq 'spu-category'}" class="spu-category">
                    <!-- 商品一级分类查看，二级分类、品牌的添加-->
                    分类页面
                    <form class="layui-form category-form" action="" lay-filter="category-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">一级分类</label>
                            <div class="layui-input-inline">
                                <select class="category1" lay-filter="category1">
                                    <option value="">请选择一级分类</option>
                                </select>
                            </div>
                            <label class="layui-form-label">二级分类</label>
                            <div class="layui-input-inline">
                                <select class="category2" lay-filter="category2">
                                    <option value="">请选择二级分类</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn layui-btn-primary add-cat2-btn">新增二级</button>
                            <label class="layui-form-label">品牌分类</label>
                            <div class="layui-input-inline">
                                <select class="brand" lay-filter="brand">
                                    <option value="">请选择品牌</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn layui-btn-primary add-brand-btn">新增品牌</button>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">二级分类属性名：</label>
                            <div class="layui-input-block cat2-attribute-wrapper">
<!--                                <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked>-->
<!--                                <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">-->
                                <button type="button" class="layui-btn layui-btn-primary add-attr-btn">新增属性</button>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">二级分类属性值：</label>
                            <div class="cat2-attribute-value-wrapper">

                            </div>
                        </div>
                    </form>

                </div>
                <div th:if="${locationMode?.mode eq 'spu-info'}" class="spu-info">
                    <!-- 商家上传的商品SPU信息，设置上架和下架，查看详情显示更多信息，以及展示SKU库存信息-->
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>商品id</th>
                            <th>商家名称</th>
                            <th width="250px">商品名称</th>
                            <th>商品封面</th>
                            <th>商品分类</th>
                            <th>上架时间</th>
                            <th>修改时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="spu : ${spuList}">
                            <td th:text="${spu.id}"></td>
                            <td th:text="${spu.shopName}"></td>
                            <td th:text="${spu.spuName}"></td>
                            <td><img th:src="@{'/image/goods/' + ${spu.image}}" /></td>
                            <td th:text="${spu.categoryDescription}"></td>
                            <td th:text="${#dates.format(spu.gmtCreate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${#dates.format(spu.gmtModified, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${spu.on eq true}? '已上架': '未上架'"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="spu-page-info" style="float: right"></div>
                </div>
            </div>
            <div th:if="${locationMode?.location eq 'advertisement'}" class="ad-m">
                <!-- 首页顶部、边缘；商品页边缘；-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>首页顶部右侧广告(宽高：250 * 70)</legend>
                </fieldset>
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告名称</label>
                        <div class="layui-input-block" style="width: 350px">
                            <input type="text"  class="layui-input ad-index-top-title" lay-verify="adIndexTopTitle" name="adName" th:value="${ad0?.adName}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告地址</label>
                        <div class="layui-input-block" style="width: 420px;">
                            <input type="text" class="layui-input ad-index-top-url" lay-verify="adIndexTopUrl" name="adUrl" th:value="${ad0?.adUrl}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告图片</label>
                        <div class="layui-input-inline">
                            <input class="ad-index-top-right-ipt" type="hidden" name="adImage" value="" lay-verify="adImage" th:value="${ad0?.adImage}">
                            <img class="ad-index-top-right-img" th:src="@{'/image/goods/' + ${ad0?.adImage}}" width="250px" height="70px">
                            <button type="button" class="layui-btn" id="uploadBtn">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="update-ad1">更新内容</button>
                            <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="toggle-ad1" th:text="${ad0?.on}?'关闭广告': '开启广告'">关闭广告</button>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${locationMode?.location eq 'feedback'}" class="report-m">
                <!-- 用户意见反馈-->
                <h2 class="m-title">意见反馈</h2>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>评论人</th>
                        <th>评论内容</th>
                        <th>评论时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="feedback : ${feedbackList}">
                        <td th:text="${feedback.id}"></td>
                        <td th:text="${feedback.username}"></td>
                        <td th:text="${feedback.content}"></td>
                        <td th:text="${#dates.format(feedback.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="feedback-page-info" style="float: right"></div>
            </div>
            <div class="templates" style="display: none;">
                <div class="shop-more-info-template">
                    <div class="layui-card">
                        <div class="layui-card-header shop-info-card-hd"></div>
                        <div class="layui-card-body shop-info-card-bd"></div>
                    </div>
                </div>
                <div class="av-item-wrapper">
                    <label>item1</label>
                    <div class="av-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        // 后台响应的提示信息
        let errMsg = [[${errMsg}]];
        let sucMsg = [[${sucMsg}]];
        if (errMsg != null) {
            layer.msg(errMsg, {icon: 7});
        }
        if (sucMsg != null) {
            layer.msg(sucMsg, {icon: 1});
        }
    });
</script>
<script type="text/javascript" th:inline="javascript">
    function addMoreAttr(e) {
        console.log(e);
        let attrId = $(e).parent().parent().children("label").attr("attr-id");
        layer.prompt({title: '请输入属性值', formType: 1}, function(text, index){
            layer.close(index);
            $.ajax({
                type: 'POST',
                url: ctxPath + 'admin/goods/attribute/value/add',
                data: {
                  'attrId': attrId,
                  'attrValue': text
                },
                error: function (error) {
                    layer.msg("未知错误，添加属性!", {icon: 7});
                },
                success: function (res) {
                    let code = res['code'];
                    let msg = res['msg'];
                    if (code == 200) {
                        layer.msg(msg, {icon: 1});
                        let currentIndex = 0;
                        let prevName = $(e.previousElementSibling).children("label").text();
                        if (prevName == '') {
                            currentIndex = 1;
                        } else {
                            currentIndex = parseInt(prevName.replace("值", "")) + 1;
                        }
                        $(e).before('<div class="av-item-value"><label>值'+currentIndex+'</label><input type="text" value="'+text+'"></div>');
                        return;
                    }
                    if (code == 400) {
                        layer.msg(msg, {icon: 7});
                    }
                }
            })
        });
        let attrName = $(e).parent().parent().children("label").text();
        $(".layui-layer-content").prepend("<p style='display: inline-block'>属性值：</p>");
        $(".layui-layer-content").prepend("<p style='margin-bottom: 10px'>属性名：" + attrName +"</p>");
        $(".layui-layer-input").attr("type","text");    // 将layer默认密码输入改成文本输入
        $(".layui-layer-input").css({"display": "inline-block", "width": "150px"});
    }

    // layui绑定事件
    $(function () {
        layui.use('element', function () {
            var element = layui.element;
        });
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            laypage.render({
                elem: 'shop-review-page-info',
                count: [[${page?.total}]], // 数据总数
                limit: [[${page?.pageSize}]], // 每页最多显示条数
                curr: [[${page?.pageNum}]],
                jump: function (obj, first) {
                    console.log(obj);
                    if (!first) {
                        position = window.location.href;
                        end = position.lastIndexOf("review/");
                        if (end === -1) {
                            window.location.href = position + "/" + obj.curr;
                        } else {
                            window.location.href = position.substring(0, end) + "review/" + obj.curr;
                        }
                    }
                }
            });

            // SPU 分页
            laypage.render({
                elem: 'spu-page-info',
                count: [[${spuPage?.total}]], // 数据总数
                limit: [[${spuPage?.pageSize}]], // 每页最多显示条数
                curr: [[${spuPage?.pageNum}]],
                jump: function (obj, first) {
                    console.log(obj);
                    if (!first) {
                        position = window.location.href;
                        end = position.lastIndexOf("spu-info/");
                        if (end === -1) {
                            window.location.href = position + "/" + obj.curr;
                        } else {
                            window.location.href = position.substring(0, end) + "spu-info/" + obj.curr;
                        }
                    }
                }
            });

            // feedback 分页
            laypage.render({
                elem: 'feedback-page-info',
                count: [[${feedBackPage?.total}]], // 数据总数
                limit: [[${feedBackPage?.pageSize}]], // 每页最多显示条数
                curr: [[${feedBackPage?.pageNum}]],
                jump: function (obj, first) {
                    console.log(obj);
                    if (!first) {
                        position = window.location.href;
                        end = position.lastIndexOf("feedback/");
                        if (end === -1) {
                            window.location.href = position + "/" + obj.curr;
                        } else {
                            window.location.href = position.substring(0, end) + "feedback/" + obj.curr;
                        }
                    }
                }
            });
        });

        layui.use('form', function () {
            var form = layui.form;
            form.on('checkbox', function (obj) {
                let checkItem = $(".av-item-wrapper>label:contains("+obj.othis.text()+")");
                if (obj.elem.checked == false && checkItem != null) {
                    checkItem.parent().remove();
                    return;
                }
                for (let i = 0; i < cat2Attribute.length; i++) {
                    if (cat2Attribute[i]['name'] == obj.othis.text()) {
                        // 获取属性结点
                        let avItemWrapperText = $(".templates .av-item-wrapper").prop("outerHTML");
                        let avItemWrapper = $(avItemWrapperText);
                        let label = avItemWrapper.children("label");
                        let avItem = avItemWrapper.children(".av-item");
                        // 设置属性值
                        label.attr("attr-id",cat2Attribute[i]["attrId"]);
                        label.text(cat2Attribute[i]['name']);
                        for (let j = 0; j < cat2Attribute[i]['values'].length; j++) {
                            avItem.append('<div class="av-item-value"><label>值'+(j+1)+'</label><input type="text" value="'+cat2Attribute[i]["values"][j]+'"/></div>');
                        }
                        avItem.append('<button type="button" class="layui-btn layui-btn-primary" onclick="addMoreAttr(this);">添加属性值</button>');
                        $(".cat2-attribute-value-wrapper").append(avItemWrapper);
                    }
                }
               console.log(obj);
            });
        });

        // 广告图片上传
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '#uploadBtn'
                ,url: '../upload/goods'
                ,done: function(res){
                    //上传完毕回调
                    imageName = res['data'];
                    $(".ad-index-top-right-ipt").val(imageName);
                    $(".ad-index-top-right-img").attr("src", "../image/goods/" + imageName);
                }
                ,error: function(err){
                    layer.msg("广告图片上传失败!", {icon: 7});
                }
            });
        });

        // 广告上传
        layui.use("form", function () {
            var form = layui.form;
            form.verify({
                adIndexTopTitle: function (value) {
                    if (value.length < 3) {
                        return '广告名不得小于3个字符';
                    }
                },
                adIndexTopUrl: function (value) {
                    if (value.length <= 0) {
                        return '广告URL不能为空';
                    }
                },
                adImage: function (value) {
                    if (value.length <= 0) {
                        return '请先上传广告图片';
                    }
                }
            });

            form.on('submit(update-ad1)', function (data) {
                delete data.field['file'];
                data.field['id'] = "1";
                $.ajax({
                    type: 'POST',
                    url: ctxPath + 'admin/advertisement/add',
                    data: JSON.stringify(data.field),
                    contentType : "application/json;charset=UTF-8",
                    error: function (error) {
                        layer.msg("未知错误，广告更新失败!", {icon: 7});
                    },
                    success: function (res) {
                        code = res['code'];
                        msg = res['msg'];
                        if (code === 200) {
                            layer.msg(msg, {icon: 1});
                        } else {
                            layer.msg(msg, {icon: 7});
                        }
                    }
                });
                return false;
            });

            form.on('submit(toggle-ad1)', function (data) {
                $.ajax({
                    type: 'GET',
                    url: ctxPath + 'admin/advertisement/toggle-status/1',
                    error: function (error) {
                        layer.msg("未知错误，广告更新失败!", {icon: 7});
                    },
                    success: function (res) {
                        code = res['code'];
                        msg = res['msg'];
                        if (code === 200) {
                            layer.msg(msg, {icon: 1});
                        } else {
                            layer.msg(msg, {icon: 7});
                        }
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    }
                });
                return false;
            });
        });
    });

    // JQ入口
    $(function () {
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
        // 声明类别选择以及品牌id变量
        category1Id = 0, category2Id = 0, brandId = 0;
        // 商品管理=》商品分类=》二级分类属性，全局变量
        cat2Attribute = null;
        function transformTime(timestamp = +new Date()) {
            if (timestamp) {
                var time = new Date(timestamp);
                var y = time.getFullYear(); //getFullYear方法以四位数字返回年份
                var M = time.getMonth() + 1; // getMonth方法从 Date 对象返回月份 (0 ~ 11)，返回结果需要手动加一
                var d = time.getDate(); // getDate方法从 Date 对象返回一个月中的某一天 (1 ~ 31)
                var h = time.getHours(); // getHours方法返回 Date 对象的小时 (0 ~ 23)
                var m = time.getMinutes(); // getMinutes方法返回 Date 对象的分钟 (0 ~ 59)
                var s = time.getSeconds(); // getSeconds方法返回 Date 对象的秒数 (0 ~ 59)
                return y + '-' + M + '-' + d + ' ' + h + ':' + m + ':' + s;
            } else {
                return '';
            }
        }

        function renderForm() {
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        }



        function showAttributes() {
            $.ajax({
                type: 'GET',
                url: ctxPath + '/admin/goods/attribute/' + category2Id,
                error: function (error) {
                    layer.msg("未知错误，获取二级分类对应属性失败!", {icon: 7});
                },
                success: function (res) {
                    console.log(res);
                    cat2Attribute = res;
                    $(".cat2-attribute-wrapper").html("");
                    for (let i = 0; i < res.length; i++) {
                        // 把二级分类对应属性显示出来
                        let attr = '<input type="checkbox" name="like1[read]" lay-skin="primary" title="'+ res[i]['name'] + '">';
                        // 上面要加gm_attr表的id字段，2019年5月7日 23:49:26记录
                        $(".cat2-attribute-wrapper").append(attr);
                    }
                    $(".cat2-attribute-wrapper").append('<button type="button" class="layui-btn layui-btn-primary add-attr-btn" style="\n' +
                        '">新增属性</button>');
                    renderForm();
                }
            })
        }

        $(".shop-info-more-btn").bind("click", function (e) {
            shopId = $(e.target).attr("shop-id");
            // @{'/admin/shop/info/more/' + ${shop.id}}
            $.ajax({
                type: 'GET',
                url: './info/more/' + shopId,
                error: function (error) {
                    layer.msg("未知错误，获取详细信息失败!", {icon: 7});
                },
                success: function (res) {
                    code = res['code'];
                    msg = res['msg'];
                    data = res['data'];
                    console.log(res);
                    if (code == 240) {
                        let shopCardInfoText = $(".shop-more-info-template").prop("outerHTML");
                        let shopCardInfoElement = $(shopCardInfoText);
                        let shopCardBody = shopCardInfoElement.find(".shop-info-card-bd");
                        let shopCardHead = shopCardInfoElement.find(".shop-info-card-hd");
                        shopCardHead.append(data['shopName']);
                        shopCardBody.append("<p>商铺头像：" + "<img src='" + ctxPath + "/image/head/" + data['shopImage'] + "' width='50px' height='50px' />" + "</p>");
                        shopCardBody.append("<p>商铺商家：" + data['sellerName'] + "</p>");
                        shopCardBody.append("<p>商铺押金：" + data['shopDeposit'] + "</p>");
                        shopCardBody.append("<p>商铺评分：" + data['shopScore'] + "</p>");
                        shopCardBody.append("<p>商铺收益：" + data['shopAccount'] + "</p>");
                        shopCardBody.append("<p>商铺状态：" + data['shopStatus'] + "</p>");
                        shopCardBody.append("<p>商铺地址：" + data['shopAddress'] + "</p>");
                        shopCardBody.append("<p>商铺描述：" + data['shopDescription'] + "</p>");
                        shopCardBody.append("<p>商铺创建：" + transformTime(data['gmtCreate']) + "</p>");
                        shopCardBody.append("<p>商铺修改：" + transformTime(data['gmtModified']) + "</p>");
                        layer.open({
                            type: 1,
                            skin: 'layer-ext-moon', //加上边框
                            area: ['420px', '600px'], //宽高
                            content: shopCardInfoElement.prop("outerHTML")
                        });
                    }
                    if (code == 440) {
                        layer.msg(msg, {icon: 7});
                    }
                }
            });
        });

        // 根据一级分类添加二级分类
        $(".add-cat2-btn").bind("click", function () {
            if (category1Id != 0) {
                layer.prompt({title: '请输入二级分类名称', formType: 1}, function(text, index){
                    layer.close(index);
                    // $.ajax({
                    //
                    // })
                });
                let category1Name;
                for (let i = 0; i < category1List.length; i++) {
                    if (category1Id == category1List[i]['id']) {
                        category1Name = category1List[i]['category1Name'];
                    }
                }
                $(".layui-layer-content").prepend("<p style='display: inline-block'>二级分类：</p>");
                $(".layui-layer-content").prepend("<p style='margin-bottom: 10px'>一级分类：" + category1Name  +"</p>");
                $(".layui-layer-input").attr("type","text");    // 将layer默认密码输入改成文本输入
                $(".layui-layer-input").css({"display": "inline-block", "width": "150px"});
            } else {
                layer.msg("请先选择一级分类", function() {});
            }
        });

        // 根据一二级分类添加旗下品牌
        $(".add-brand-btn").bind("click", function () {
            if (category1Id != 0 && category2Id != 0) {
                layer.prompt({title: '请输入品牌分类名称', formType: 1}, function(text, index){
                    layer.close(index);
                    jdata = {
                        'category1Id': category1Id,
                        'category2Id': category2Id,
                        'brandName': text
                    };
                    $.ajax({
                        type: 'POST',
                        url: ctxPath + 'admin/goods/brand/add',
                        contentType: 'application/json',
                        data: JSON.stringify(jdata),
                        error: function (error) {
                            layer.msg("未知错误，添加品牌失败!", {icon: 7});
                        },
                        success: function (res) {
                            let code = res['code'];
                            let msg = res['msg'];
                            if (code === 200) {
                                layer.msg("添加品牌" + text +"成功!", {icon: 1});
                                return;
                            }
                            layer.msg("添加品牌" + text +"失败!", {icon: 7});
                        }
                    });
                });
                let category1Name, category2Name;
                for (let i = 0; i < category1List.length; i++) {
                    if (category1Id == category1List[i]['id']) {
                        category1Name = category1List[i]['category1Name'];
                        break;
                    }
                }
                for (let i = 0; i < category2List.length; i++) {
                    if (category2Id == category2List[i]['id']) {
                        category2Name = category2List[i]['category2Name'];
                        break;
                    }
                }
                $(".layui-layer-content").prepend("<p style='display: inline-block'>品牌分类：</p>");
                $(".layui-layer-content").prepend("<p style='margin-bottom: 10px'>二级分类：" + category2Name  +"</p>");
                $(".layui-layer-content").prepend("<p style='margin-bottom: 10px'>一级分类：" + category1Name  +"</p>");
                $(".layui-layer-input").attr("type","text");    // 将layer默认密码输入改成文本输入
                $(".layui-layer-input").css({"display": "inline-block", "width": "150px"});
            }
            if (category1Id == 0) {
                layer.msg("请先选择一级分类", function() {});
                return;
            }
            if (category2Id == 0) {
                layer.msg("请先选择二级分类", function() {});
            }
        });

        //给二级分类添加属性名
        $(".cat2-attribute-wrapper").on("click",".add-attr-btn", function () {
            if (category1Id != 0 && category2Id != 0) {
                layer.prompt({title: '请输入预添加的二级分类属性名', formType: 1}, function(text, index){
                    layer.close(index);
                    let data = {
                        'category2Id': category2Id,
                        'attrName': text
                    };
                    $.ajax({
                        type: 'POST',
                        url: ctxPath + 'admin/goods/attribute/name/add',
                        data: data,
                        error: function (error) {
                            layer.msg("未知错误，添加属性名称失败!", {icon: 7});
                        },
                        success: function (res) {
                            let code = res['code'];
                            let msg = res['msg'];
                            if (code === 200) {
                                layer.msg("添加属性名 " + text +" 成功!", {icon: 1});
                                return;
                            }
                            layer.msg("添加属性名" + text +"失败!", {icon: 7});
                        }
                    });
                });
                $(".layui-layer-content > input").attr("type", "text");
            } else {
                layer.msg("请先选择二级分类!", {icon: 7});
            }
        });


        $(".category-form").show(function () {
            goodsCategory = [[${goodsCategory}]];
            if (goodsCategory) {
                category1List = goodsCategory['category1List'];
                category2List = goodsCategory['category2List'];
                brandList = goodsCategory['brandList'];
                brandCategoryList = goodsCategory['brandCategoryList'];
                $(".category1").html("");
                for (let i = 0; i < category1List.length; i++) {
                    $(".category1").append("<option value='" + category1List[i]['id'] + "'>" + category1List[i]['category1Name'] + "</option>");
                }
                renderForm();
                layui.use('form', function () {
                    var form = layui.form;
                    form.on('select(category1)', function (data) {
                        category1Id = data.value;
                        $(".category2").html("");
                        let first = true;
                        for (let i = 0; i < category2List.length; i++) {
                            if (data.value == category2List[i]['category1Id']) {
                                if (first) {
                                    category2Id = category2List[i]['id'];
                                    first = false;
                                }
                                $(".category2").append("<option value='" + category2List[i]['id'] + "'>" + category2List[i]['category2Name'] + "</option>");
                            }
                        }
                        renderForm();
                    });
                    form.on('select(category2)', function (data) {
                        category2Id = data.value;
                        $(".brand").html("");
                        $(".cat2-attribute-value-wrapper").html("");
                        let first = true;
                        for (let i = 0; i < brandCategoryList.length; i++) {
                            if (data.value == brandCategoryList[i]['category2Id']) {
                                for (let j = 0; j < brandList.length; j++) {
                                    if (brandList[j]['id'] == brandCategoryList[i]['brandId']) {
                                        if (first) {
                                            brandId = brandList[j]['id'];
                                            first = false;
                                        }
                                        $(".brand").append("<option value='" + brandList[j]['id'] + "'>" + brandList[j]['brandName'] + "</option>");
                                    }
                                }
                            }
                        }
                        renderForm();
                        showAttributes();
                    });
                    form.on('select(brand)', function (data) {
                       brandId = data.value;
                    });
                });

            }
        });

    });

</script>
</body>
</html>