<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/goods.css}">
</head>
<body>
<div class="gm-cover-wrap">
    <div class="gm-cover">
        <ul class="layui-nav" style="padding: 0">
            <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
            <li th:if="${session.loginUser eq null}" class="layui-nav-item"><a href="javascript:void(0);"
                                                                               onclick="loginLayer()">你好，请登录</a></li>
            <li th:if="${session.loginUser != null}" class="layui-nav-item">
                <a href="#" th:text="${session.loginUser.username}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <div class="nav-menu-bd-panel">
                            <div class="nav-user-wrapper"><img
                                    src="http://gw.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_80x80.jpg"
                                    alt=""></div>
                            <div class="nav-user-info">
                                <p class="nav-user-operate" style="text-align: right">
                                    <a th:href="@{/member}">帐号管理</a>
                                    <span class="site-nav-pipe">|</span>
                                    <a th:href="@{/logout}">退出</a>
                                </p>
                                <p class="level-info gm-score" th:text="'逛购值: ' + ${session.loginUser.experience}">
                                    逛购值:123</p>
                                <p class="level-info">LV1</p>
                            </div>
                            <a class="site-nav-user-privilege" href="//vip.taobao.com" target="_top">查看你的专属权益</a>
                        </div>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item f-right">
                <a href="">意见反馈</a>
            </li>
            <li class="layui-nav-item f-right">
                <a href="">卖家中心</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/seller/open-shop}">免费开店</a></dd>
                    <dd><a th:href="@{/seller/release}" th:if="${session.loginUser?.role eq 1}">发布商品</a></dd>
                    <dd><a th:href="@{/seller/goods}" th:if="${session.loginUser?.role eq 1}">管理发布商品</a></dd>
                    <dd><a th:href="@{/seller/order}" th:if="${session.loginUser?.role eq 1}">商品订单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item site-nav-pipe f-right">|</li>
            <li class="layui-nav-item f-right"><a href="">收藏夹</a></li>
            <li class="layui-nav-item f-right">
                <a href="">购物车</a>
                <dl class="layui-nav-child mini-cart">
                    <dd style="margin-left: 7px;">最近加入的宝贝：</dd>
                    <dd>
                        <div class="mini-cart-img f-left">
                            <a href="#" style="margin: 0 7px;">
                                <img src="//img.alicdn.com/bao/uploaded/img.alicdn.com/bao/uploaded/i1/3253223961/O1CN01Lir2FN1f8BIlmNVtS_!!0-item_pic.jpg_40x40.jpg">
                            </a>
                        </div>
                        <div class="mini-cart-count f-right" style="font-family: Arial;">
                            <strong class="mini-cat-price" style="color: red;">￥22.00</strong>
                        </div>
                        <div class="mini-cart-title">
                            <a href="https://www.baidu.com">VICENZI意大利进口奶油夹心饼干休闲零食喜饼点心维鲜千层酥小吃</a>
                        </div>
                        <div class="mini-cart-del f-right">
                            <a href="" style="font-size: 13px;">删除</a>
                        </div>
                        <div class="mini-cart-info">
                            <span>口味:圆形奶油夹心125g*1包 </span>
                        </div>
                    </dd>
                    <dd>
                        <div class="mini-cart-img f-left">
                            <a href="#" style="margin: 0 7px;">
                                <img src="//img.alicdn.com/bao/uploaded/img.alicdn.com/bao/uploaded/i1/3253223961/O1CN01Lir2FN1f8BIlmNVtS_!!0-item_pic.jpg_40x40.jpg">
                            </a>
                        </div>
                        <div class="mini-cart-count f-right" style="font-family: Arial;">
                            <strong class="mini-cat-price" style="color: red;">￥22.00</strong>
                        </div>
                        <div class="mini-cart-title">
                            <a href="https://www.baidu.com">VICENZI意大利进口奶油夹心饼干休闲零食喜饼点心维鲜千层酥小吃</a>
                        </div>
                        <div class="mini-cart-del f-right">
                            <a href="" style="font-size: 13px;">删除</a>
                        </div>
                        <div class="mini-cart-info">
                            <span>口味:圆形奶油夹心125g*1包 </span>
                        </div>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item f-right">
                <a href="">我的逛购</a>
                <dl class="layui-nav-child">
                    <dd><a href="">我的订单</a></dd>
                    <dd><a href="">浏览足迹</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="gm-header">
    <div class="header-content">
        <div class="header-logo">
            <img src="//gtms01.alicdn.com/tps/i1/T1Kz0pXzJdXXXIdnjb-146-58.png">
        </div>
        <div class="gm-head-search">
            <div class="search-fm">
                <span class="search-ipt-wrap"><input class="search-ipt" type="text"></span><span
                    class="search-btn-wrap"><input class="search-btn" type="button" value="搜索"></span>
            </div>
        </div>
    </div>
</div>
<div class="gm-goods-bd">
    <div class="goods-bd-wrap">
        <div class="images-wrap">
            <div class="max-image">
                <img width="400px" height="400px"
                     src="https://img.alicdn.com/imgextra/i2/2838892713/O1CN01m752gx1Vub2JqDjZ3_!!2838892713.jpg_430x430q90.jpg">
            </div>
            <div class="image-group"></div>
        </div>
        <div class="goods-detail">
            <div class="goods-title" th:text="${goodsInfoList['skuData'][0]['sku']['skuName']}">【旗舰新品 稀缺货源】Huawei/华为P30 Pro曲面屏超感光徕卡四摄变焦双景录像980芯片智能手机p30pro</div>
            <div class="goods-price">
                <div class="price-title">价格</div>
                <div class="price-wrap">
                    <em class="gm-yen">¥</em>
                    <span class="gm-price" th:text="${goodsInfoList['skuData'][0]['sku']['price']}">5988.00</span>
                </div>
            </div>
            <div class="goods-attrs">
                <div class="attr-item" th:each="attrName : ${goodsInfoList?.attr?.attrNames}">
                    <span class="attr-name" th:text="${attrName.name}" th:attr-id="${attrName.id}"></span>
                    <a th:each="attrValue : ${goodsInfoList?.attr?.attrValues}"
                       th:if="${attrValue.attrId eq attrName.id}">
                        <span class="attr-value" th:text="${attrValue?.value}"
                              th:attr-value-id="${attrValue.valueId}"></span>
                    </a>
                </div>
            </div>
            <div class="goods-amount">
                <div class="amount-wrap">
                    <span class="amount-label">数量</span>
                    <input type="text" class="amount-ipt" value="1">
                    <span>件</span>
                </div>
                <div class="stock-wrap">
                    库存<span th:text="${goodsInfoList['skuData'][0]['sku']['stock']}">123</span>件
                </div>
            </div>
            <div class="goods-buy">
                <button class="layui-btn layui-btn-primary layui-btn-lg buy-btn">立即购买</button>
                <button class="layui-btn layui-btn-primary layui-btn-lg shop-cart-btn">加入购物车</button>
            </div>
        </div>
    </div>
    <div class="goods-more-wrap">
        <div class="shop-info-wrap">
            <div class="shop-name-bar">小李店铺</div>
            <div class="shop-score">
                <div>店铺评分</div>
                <div>5.00<strong>↑</strong></div>
            </div>
        </div>
        <div class="goods-comment-wrap">
            <div class="comment-title">
                <div>累计评价</div>
            </div>
            <table class="comment-tbl">
                <tbody>
                <tr>
                    <td>
                        <div class="rate-content">
                            手机很漂亮，好看性能不错，速度流畅，画面感强手感一流，摄像功能强大，你值得拥有，后续使用一段时间再来追加
                        </div>
                        <div class="rate-date">05.11</div>
                    </td>
                    <td>
                        <div class="rate-sku">
                            <p><span>网络类型：</span>4G全网通</p>
                            <p><span>机身颜色：</span>天空之境</p>
                        </div>
                    </td>
                    <td class="col-author">孙***0（匿名）</td>
                </tr>
                <tr>
                    <td>
                        <div class="rate-content">
                            手机很漂亮，好看性能不错，速度流畅，画面感强手感一流，摄像功能强大，你值得拥有，后续使用一段时间再来追加
                        </div>
                        <div class="rate-date">05.11</div>
                    </td>
                    <td>
                        <div class="rate-sku">
                            <p><span>网络类型：</span>4G全网通</p>
                            <p><span>机身颜色：</span>天空之境</p>
                        </div>
                    </td>
                    <td class="col-author">孙***0（匿名）</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/static/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var attrValueIdMap = new Map();
    $(function () {
        // 变量接收和初始化
        const ctxPath = /*[[@{/}]]*/'';
        const goodsInfoList = /*[[${goodsInfoList}]]*/'';
        var currentSku = goodsInfoList['skuData'][0];
        console.log(goodsInfoList);

        // 初始化选择属性首值
        for (let i = 0; i < $(".attr-item").length; i++) {
            let $attrItem = $($(".attr-item").get(i));
            let $attrValueElem = $attrItem.find("a:first > span");
            $attrValueElem.addClass("attr-selected");
            attrValueIdMap.set("attrId"+$attrItem.find(".attr-name").attr("attr-id"), $attrValueElem.attr("attr-value-id"));
        }

        // 切换属性更新锁库存单元信息
        $(".attr-value").bind("click", function (e) {
            let attrValueId = $(e.target).attr("attr-value-id");
            let attrId = $(e.target).parent().parent().find(".attr-name").attr("attr-id");
            $(e.target).parent().parent().find(".attr-value").removeClass("attr-selected");
            $(e.target).addClass("attr-selected");
            attrValueIdMap.set("attrId"+attrId, attrValueId);

            for (let i = 0; i < goodsInfoList['skuData'].length; i++) {
                let sku = goodsInfoList['skuData'][i];
                let changeFlag = false;
                for (let j = 0; j < attrValueIdMap.size; j++) {
                    if (sku['attrValueId'][j].toString() !== attrValueIdMap.get("attrId" + (j+1))) {
                        break;
                    }
                    if ((sku['attrValueId'][j].toString() === attrValueIdMap.get("attrId" + (j+1))) && (j === attrValueIdMap.size - 1)) {
                        $(".goods-title").text(sku['sku']['skuName']);
                        $(".gm-price").text(sku['sku']['price']);
                        $(".stock-wrap > span").text(sku['sku']['stock']);
                        // console.log(sku);
                        currentSku = sku;
                        changeFlag = true;
                        break;
                    }
                }
                if (changeFlag == true) {
                    break;
                }
            }
        });

        // 购买按钮点击事件
        $(".buy-btn").bind("click", function () {
            let attrDescription = getGoodsDescription();
            let amount = $(".amount-ipt").val();
            if (!isPositiveInteger(amount)) {
                layer.msg("购买数量必须为正整数!", {icon: 7});
                return;
            }
            let jdata = {};
            // jq的深拷贝对象
            $.extend(true, jdata, currentSku['sku']);
            // let jdata = currentSku['sku'];
            jdata.skuId = jdata.id;
            delete jdata.id;
            jdata.image = jdata.images[0];
            delete jdata.images;
            jdata.amount = amount;
            jdata.attrDescription = attrDescription;
            $.ajax({
                type: 'POST',
                url: ctxPath + "trade",
                data: JSON.stringify(jdata),
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                error: function (error) {
                    layer.msg("未知错误，购买商品失败!", {icon: 7});
                },
                success: function (res) {
                    code = res['code'];
                    msg = res['msg'];
                    if (code === 200) {
                        layer.msg(msg, {icon: 1});
                        setTimeout(function(){
                            window.location = ctxPath + "member/order";
                        }, 2000);
                    }
                    if (code == 400 || code == 401 || code == 402) {
                        layer.msg(msg, {icon: 7});
                    }
                }
            });
            // console.log(currentSku);
            // console.log(attrDescription);
        });

        // 添加商品至购物车
        $(".shop-cart-btn").bind("click", function () {
            let attrDescription = getGoodsDescription();
            let amount = $(".amount-ipt").val();
            if (!isPositiveInteger(amount)) {
                layer.msg("购买数量必须为正整数!", {icon: 7});
                return;
            }
            let jdata = {};
            // jq的深拷贝对象
            $.extend(true, jdata, currentSku['sku']);
            // let jdata = currentSku['sku'];
            jdata.skuId = jdata.id;
            delete jdata.id;
            jdata.image = jdata.images[0];
            delete jdata.images;
            jdata.amount = amount;
            jdata.attrDescription = attrDescription;
            $.ajax({
                type: 'POST',
                url: ctxPath + "shop-cart/add",
                data: JSON.stringify(jdata),
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                error: function (error) {
                    layer.msg("未知错误，添加商品至购物车失败!", {icon: 7});
                },
                success: function (res) {
                    code = res['code'];
                    msg = res['msg'];
                    if (code === 200) {
                        layer.msg(msg, {icon: 1});
                        setTimeout(function(){
                            window.location = ctxPath + "member/cart";
                        }, 2000);
                    }
                    if (code == 400 || code == 401) {
                        layer.msg(msg, {icon: 7});
                    }
                }
            });
        });

        function isPositiveInteger(val) {
            let r = /^\+?[1-9][0-9]*$/;
            return r.test(val);
        }

        function getGoodsDescription() {
            let attrNum = goodsInfoList['attr']['num'];
            let attrDescription = '';
            for (let i = 0; i < attrNum; i++) {
                let attrName = goodsInfoList['attr']['attrNames'][i];
                let attrValueId = attrValueIdMap.get("attrId" + attrName['id']);
                attrDescription += attrName['name'] + ":" + getAttrValueNameById(attrValueId);
                if (i < attrNum - 1) {
                    attrDescription += ",";
                }
            }
            return attrDescription;
        }
        
        function getAttrValueNameById(id) {
            for (let i = 0; i < goodsInfoList['attr']['attrValues'].length; i++) {
                let attrValues = goodsInfoList['attr']['attrValues'][i];
                if (attrValues['valueId'].toString() === id) {
                    return attrValues['value'];
                }
            }
        }
    });
</script>
</html>