<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/member.css}">
</head>
<body>
<div class="gm-cover-wrap">
    <div class="gm-cover">
        <ul class="layui-nav" style="padding: 0">
            <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
            <li th:if="${session.loginUser eq null}" class="layui-nav-item"><a href="javascript:void(0);" onclick="loginLayer()">你好，请登录</a></li>
            <li th:if="${session.loginUser != null}" class="layui-nav-item">
                <a href="#" th:text="${session.loginUser.username}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <div class="nav-menu-bd-panel">
                            <div class="nav-user-wrapper"><img th:src="@{'/image/head/' + ${session.loginUser.headImage}}"></div>
                            <div class="nav-user-info">
                                <p class="nav-user-operate" style="text-align: right">
                                    <a th:href="@{/member/info}">帐号管理</a>
                                    <span class="site-nav-pipe">|</span>
                                    <a th:href="@{/logout}">退出</a>
                                </p>
                                <p class="level-info gm-score" th:text="'逛购值: ' + ${session.loginUser.experience}">逛购值:123</p>
                                <p class="level-info">LV1</p>
                            </div>
                            <a class="site-nav-user-privilege" href="#" target="_top">查看你的专属权益</a>
                        </div>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item f-right">
                <a href="">卖家中心</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/seller/open-shop}">免费开店</a></dd>
                    <dd><a th:href="@{/seller/release}" th:if="${session.loginUser?.role eq 1}">发布商品</a></dd>
                    <dd><a th:href="@{/seller/manage}" th:if="${session.loginUser?.role eq 1}">管理发布商品</a></dd>
                    <dd><a th:href="@{/seller/order}" th:if="${session.loginUser?.role eq 1}">商品订单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item site-nav-pipe f-right">|</li>
            <li class="layui-nav-item f-right">
                <a href="">我的逛购</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/member/order}">我的订单</a></dd>
                    <dd><a th:href="@{/member/cart}">购物车</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="indexroot">
        <span>用户个人中心</span>
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="left-member-menu">
            <div><a th:href="@{/member/info}" th:classappend="${locationMode?.location eq 'info'} ? 'menu-on'">个人信息</a></div>
            <div><a th:href="@{/member/order}" th:classappend="${locationMode?.location eq 'order'} ? 'menu-on'">我的订单</a></div>
            <div><a th:href="@{/member/cart}" th:classappend="${locationMode?.location eq 'cart'} ? 'menu-on'">我的购物车</a></div>
        </div>
        <div class="main-member-bd">
            <div class="main-member-info-bd" th:if="${locationMode?.location eq 'info'}">
                <p>个人中心</p>
                <div class="member-info-wrapper">
                    <h2>基本资料</h2>
                    <div class="member-info-item">
                        <span>用户名:</span>
                        <span th:text="${session?.loginUser?.username}"></span>
                    </div>
                    <div class="member-info-item">
                        <span>真实姓名:</span>
                        <span th:text="${session?.loginUser?.realName}"></span>
                    </div>
                    <div class="member-info-item">
                        <span>头像:</span>
                        <img class="member-head-img" th:src="@{'/image/head/'+${session?.loginUser?.headImage}}">
                    </div>
                    <div class="member-info-item">
                        <span>邮箱:</span>
                        <span th:text="${session?.loginUser?.eMail}"></span>
                    </div>
                    <div class="member-info-item">
                        <span>手机号:</span>
                        <span th:text="${session?.loginUser?.phoneNumber}"></span>
                    </div>
                    <h2 class="change-pwd-title">修改密码</h2>
                    <div class="change-pwd">
                        <div class="old-pwd-wrap">
                            <span>原密码</span>
                            <input type="text" class="old-pwd">
                        </div>
                        <div class="new-pwd-wrap">
                            <span>新密码</span>
                            <input class="new-pwd1" type="text">
                        </div>
                        <div class="new-pwd-wrap">
                            <span>新密码</span>
                            <input class="new-pwd2" type="text">
                        </div>
                        <div class="change-pwd-btn-wrap">
                            <button class="layui-btn layui-btn-primary change-pwd-btn">修改密码</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-member-order-bd" th:if="${locationMode?.location eq 'order'}">
                <h2>我的订单</h2>
                <table class="member-order-tbl">
                    <thead>
                        <tr>
                            <th width="110px">订单号</th>
                            <th width="380px">商品(名称、图片、规格)</th>
                            <th width="90px">单价</th>
                            <th width="80px">数量</th>
                            <th width="105px">实付款</th>
                            <th>交易时间</th>
                            <th>交易状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tradeOrder : ${tradeOrderList}">
                            <td th:text="${tradeOrder.id}"></td>
                            <td class="order-sku-td">
                                <div class="sku-image"><img th:src="@{'/image/goods/' + ${tradeOrder.image}}" width="80px" height="80px"></div>
                                <div class="sku-more-info">
                                    <a class="order-sku-name" th:text="${tradeOrder.skuName}" th:href="@{'/goods/' + ${tradeOrder.spuId}}" target="_blank"></a>
                                    <p class="order-sku-attr-desc" th:text="${tradeOrder.attrDescription}"></p>
                                </div>
                            </td>
                            <td th:text="${tradeOrder.price}"></td>
                            <td th:text="${tradeOrder.amount}"></td>
                            <td th:text="${tradeOrder.totalPrice}"></td>
                            <td th:text="${#dates.format(tradeOrder.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td><span class="trade-finish">交易完成</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="main-member-cart-bd" th:if="${locationMode?.location eq 'cart'}">
                <h2>我的购物车</h2>
                <table class="member-cart-tbl">
                    <thead>
                    <tr>
                        <th>库存id</th>
                        <th class="cart-sku-th">商品(名称、图片、规格)</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>需付款</th>
                        <th>交易状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="shopCart : ${shopCartList}">
                        <td th:text="${shopCart.id}"></td>
                        <td class="cart-sku-td">
                            <div class="sku-image"><img th:src="@{'/image/goods/' + ${shopCart.image}}" width="80px" height="80px"></div>
                            <div class="sku-more-info">
                                <a class="cart-sku-name" th:text="${shopCart.skuName}" th:href="@{'/goods/' + ${shopCart.spuId}}" target="_blank"></a>
                                <p class="cart-sku-attr-desc" th:text="${shopCart.attrDescription}"></p>
                            </div>
                        </td>
                        <td th:text="${shopCart.price}"></td>
                        <td th:text="${shopCart.amount}"></td>
                        <td th:text="${shopCart.totalPrice}"></td>
                        <td><span class="to-buy">去付款</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        // 项目根路径
        var ctxPath = /*[[@{/}]]*/ '';

        // 绑定更换头像事件
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '.member-head-img'
                ,url: ctxPath + 'member/upload-head'
                ,done: function(res){
                    let code = res['code'];
                    let msg = res['msg'];
                    if (code == 200) {
                        let imageName = res['data'];
                        $(".member-head-img").attr("src", ctxPath + "image/head/" + imageName)
                        layer.msg(msg , {icon: 1});
                    } else {
                        layer.msg(msg , {icon: 7});
                    }
                }
                ,error: function(err){
                    layer.msg("未知错误，头像上传失败!", {icon: 7});
                }
            });
        });

        // 修改用户密码点击事件
        $(".change-pwd-btn").bind("click", function () {
           let oldPwd = $(".old-pwd").val();
           let newPwd1 = $(".new-pwd1").val();
           let newPwd2 = $(".new-pwd2").val();
           if (newPwd1 != newPwd2) {
               layer.msg("新密码不一致，请重新输入！", {icon: 7});
               return;
           }
           // 密码相同，发送更改密码请求
            $.ajax({
                type: 'POST',
                url: ctxPath + 'member/change-pwd',
                data: {'oldPwd': oldPwd, 'newPwd': newPwd1},
                error: function (error) {
                    layer.msg("未知错误，更改密码失败!", {icon: 7});
                },
                success: function (res) {
                    let code = res['code'];
                    let msg = res['msg'];
                    if (code == 200) {
                        layer.msg(msg, {icon: 1});
                        window.setTimeout(function () {
                            window.location = ctxPath + "member/info";
                        }, 1500);
                    } else {
                        layer.msg(msg, {icon: 7});
                    }
                }
            });
        });

        // 购物车确定付款点击事件
        $(".to-buy").bind("click", function (e) {
            layer.confirm('是否立即付款？', {
                btn: ['确定','取消']
            }, function(){
                let shopCartId = $(e.target).parent().parent().children("td:first").text();
                $.ajax({
                    type: 'POST',
                    url: ctxPath + 'shop-cart/buy',
                    data: {'shopCartId': shopCartId},
                    error: function (error) {
                        layer.msg("未知错误，购买商品!", {icon: 7});
                    },
                    success: function (res) {
                        let code = res['code'];
                        let msg = res['msg'];
                        if (code == 200) {
                            layer.msg(msg, {icon: 1});
                            window.setTimeout(function () {
                                window.location = ctxPath + "member/order";
                            }, 1500);
                            return;
                        }
                        if (code == 400) {
                            layer.msg(msg, {icon: 7});
                        }
                    }
                });
            });
        });
    });
</script>
</html>