<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我要开店</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/openshop.css}">
</head>
<body>
<div class="gm-cover-wrap">
    <div class="gm-cover" style="width: 1234px;">
        <ul class="layui-nav" style="padding: 0">
            <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
            <li th:if="${session.loginUser eq null}" class="layui-nav-item"><a href="javascript:void(0);" onclick="loginLayer()">你好，请登录</a></li>
            <li th:if="${session.loginUser != null}" class="layui-nav-item">
                <a href="#" th:text="${session.loginUser.username}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <div class="nav-menu-bd-panel">
                            <div class="nav-user-wrapper"><img th:src="@{'/image/head/' + ${session.loginUser.headImage}}"></div>
                            <div class="nav-user-info">
                                <p class="nav-user-operate" style="text-align: right">
                                    <a th:href="@{/member/info}">帐号管理</a>
                                    <span class="site-nav-pipe">|</span>
                                    <a th:href="@{/logout}">退出</a>
                                </p>
                                <p class="level-info gm-score" th:text="'逛购值: ' + ${session.loginUser.experience}">逛购值:123</p>
                                <p class="level-info">LV1</p>
                            </div>
                            <a class="site-nav-user-privilege" href="#" target="_top">查看你的专属权益</a>
                        </div>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item f-right">
                <a href="javascript:void(0)" onclick="feedBack()">意见反馈</a>
            </li>
            <li class="layui-nav-item f-right">
                <a href="">卖家中心</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/seller/open-shop}">免费开店</a></dd>
                    <dd><a th:href="@{/seller/release}" th:if="${session.loginUser?.role eq 1}">发布商品</a></dd>
                    <dd><a th:href="@{/seller/manage}" th:if="${session.loginUser?.role eq 1}">管理发布商品</a></dd>
                    <dd><a th:href="@{/seller/order}" th:if="${session.loginUser?.role eq 1}">商品订单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item site-nav-pipe f-right">|</li>
            <li class="layui-nav-item f-right">
                <a href="">我的逛购</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/member/order}">我的订单</a></dd>
                    <dd><a th:href="@{/member/cart}">购物车</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="indexroot">
        <span>卖家工作台</span>
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="first-title">
            <h1>我要开店</h1>
            <p>温馨提示：逛购开店申请后需要审核通过才可成为正式商家</p>
        </div>
        <div class="open-step">
            <div class="next-step next-step-arrow next-step-horizontal steps-container">
                <div class="next-step-item next-step-item-process next-step-item-first">
                    <div class="next-step-item-container">
                        <div class="next-step-item-title">
                            <div class="step-item-cont">
                                <div class="step-item-num">1</div>
                                <div class="step-item-title">选择开店类型</div>
                                <div class="step-item-desc">个人店铺，企业店铺</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next-step-item next-step-item-wait">
                    <div class="next-step-item-container">
                        <div class="next-step-item-title">
                            <div class="step-item-cont">
                                <div class="step-item-num">2</div>
                                <div class="step-item-title">阅读开店须知</div>
                                <div class="step-item-desc">确认自己符合店铺的相关规定</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next-step-item next-step-item-wait next-step-item-last">
                    <div class="next-step-item-container">
                        <div class="next-step-item-title">
                            <div class="step-item-cont">
                                <div class="step-item-num">3</div>
                                <div class="step-item-title">申请开店认证</div>
                                <div class="step-item-desc">需提供相关认证资料，等待审核通过</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="open-page select-type" style="display: block;">
            <div class="open-type-item">
                <div class="open-type-item-container">
                    <div class="select-icon-wrapper">
                        <i class="open-icon"></i>
                    </div>
                    <h3 class="select-title">个人店铺</h3>
                    <p class="select-desc">通过个人实名认证的商家创建的店铺, 就是个人店铺。</p>
                    <a class="next-btn next-btn-primary next-btn-large ice-link  select-type-item-btn self-shop-btn">创建个人店铺</a>
                </div>
            </div>
            <div class="open-type-item">
                <div class="open-type-item-container">
                    <div class="select-icon-wrapper">
                        <i class="open-icon"></i>
                    </div>
                    <h3 class="select-title">企业店铺</h3>
                    <p class="select-desc">通过企业认证的商家创建的店铺, 就是企业店铺。</p>
                    <a class="next-btn next-btn-primary next-btn-large ice-link disabled select-type-item-btn">暂未开启创建</a>
                </div>
            </div>
        </div>
        <div class="open-page read-agreement" style="display: none">
            <div class="read-agreement-content">
                <div class="read-agreement-paper">
                    <p class="question">1、我在逛购已经开了个店了，我用别人的身份证再开一个店可以吗？</p>
                    <p class="answer">答：不可以。未经逛购平台同意，将本人逛购账号提供给他人做开店使用，由此导致相关争议，诉讼及因店铺经营中的违法违规行为导致一切人身，财产权益损害，均由本人自行承担全部民事、行政及刑事责任。</p>
                    <p class="question">2、开企业店铺需要满足什么条件？</p>
                    <p class="answer">答：企业开店需完成企业认证和责任人认证，店铺负责人需要对该逛购店铺的运营及管理全面负责，包含但不限于：该企业的法定代表人、股东、逛购店铺的运营人等。</p>
                    <p class="question">3、我可以开多个店铺吗？</p>
                    <p class="answer">
                        答：同一会员已开设的店铺均须同时满足以下要求，才能获得多店权益：
                        <span class="answer-item">（一）近365天无出售假冒商品违规、严重违规、一般违规扣分达12分（含）以上等违规记录，且无其他风险特征；</span>
                        <span class="answer-item">（二）满足一定经营条件（如近365天确认收货金额&gt;=120万且近12个自然月持续有成交）</span>
                    </p>
                    <p class="question">4、我已经开过逛购店，现在想要注销原来的店铺重新开店，可以吗?</p>
                    <p class="answer">答：满足条件就可以注销。</p>
                </div>
                <div class="read-agreement-actions">
                    <a class="next-btn next-btn-normal next-btn-large ice-link goback-btn " type="normal">上一步</a>
                    <a type="primary" class="next-btn next-btn-primary next-btn-large ice-link continue-btn">我已了解, 继续开店</a>
                </div>
            </div>
        </div>
        <div class="open-page apply-open-shop" style="display: none">
            <div class="apply-open-shop-wrapper">
                <form action="" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="shopName" required lay-verify="shopName" placeholder="如：小李店铺" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺头像</label>
                        <div class="layui-input-inline">
                            <input class="shopImage" type="hidden" name="shopImage" value="default-head-shop.jpg">
                            <img class="shop-head" src="http://gw.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_50x50.jpg" width="50" height="50">
                            <button type="button" class="layui-btn" id="uploadBtn">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺押金</label>
                        <div class="layui-input-inline">
                            <input type="number" name="shopDeposit" required lay-verify="shopDeposit" placeholder="如：1000（单位元）" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopAddress" required lay-verify="shopAddress" placeholder="如：浙江省杭州市余杭区仓前街道101号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">店铺描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="shopDescription" required lay-verify="shopDescription" placeholder="如：华为手机专卖店" class="layui-input">
                        </div>
                    </div>
                    <div class="apply-open-shop-actions">
                        <a class="next-btn next-btn-normal next-btn-large ice-link goback2-btn" type="normal">上一步</a>
                        <a type="primary" class="next-btn next-btn-primary next-btn-large ice-link confirm-btn" lay-submit lay-filter="apply-shop">确认开店</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function() {
        let loginTip = [[${loginTip}]];
        if (loginTip != null) {
            layer.msg(loginTip, {icon: 7});
        }
    });
</script>
<script type="text/javascript">
    $(function() {
        layui.use('upload', function(){
            var upload = layui.upload;
            //执行实例
            var uploadInst = upload.render({
                elem: '#uploadBtn'
                ,url: '../upload/head'
                ,done: function(res){
                    //上传完毕回调
                    imageName = res['data'];
                    $(".shopImage").val(imageName);
                    $(".shop-head").attr("src", "../image/head/" + imageName);
                }
                ,error: function(err){
                    layer.msg("头像上传失败!", {icon: 7});
                }
            });
        });

        layui.use("form", function () {
           var form = layui.form;
           form.verify({
                shopName: function (value) {
                    if (value.length < 3) {
                        return '店铺名不得小于3个字符';
                    }
                },
               shopDeposit: function (value) {
                   if (value < 100) {
                       return "店铺押金必须为大于100的整数";
                   }
               },
               shopAddress: function (value) {
                   if (value.length < 5) {
                       return "请输入具体店铺地址，不得少于5个字符";
                   }
               },
               shopDescription: function (value) {
                    if (value.length < 10) {
                        return "请详细描述店铺经营范围，不得少于10个字符";
                    }
               }
           });

           form.on('submit(apply-shop)', function (data) {

               $.ajax({
                   type: 'POST',
                   url: './apply-shop',
                   data: JSON.stringify(data.field),
                   dataType: 'json',
                   contentType : "application/json;charset=UTF-8",
                   error: function (error) {
                       layer.msg("未知错误，申请店铺失败!", {icon: 7});
                   },
                   success: function (res) {
                       code = res['code'];
                       msg = res['msg'];
                       if (code === 230) {
                           layer.msg(msg, {icon: 1});
                       }
                       if (code == 430) {
                           layer.msg(msg, {icon: 7});
                       }
                   }
               });
               return false;
           });
        });
    });

    $(function() {
        $(".self-shop-btn").bind("click", function() {
            // 步骤显示状态
            $(".next-step-item-first").removeClass("next-step-item-process");
            $(".next-step-item-first").addClass("next-step-item-finish");
            $(".next-step .next-step-item:nth-child(2)").removeClass("next-step-item-wait");
            $(".next-step .next-step-item:nth-child(2)").addClass("next-step-item-process");
            // 内容显示状态
           $(".select-type").css("display", "none");
           $(".read-agreement").css("display", "block");
        });

        $(".goback-btn").bind("click", function() {
            // 步骤显示状态
            $(".next-step-item-first").addClass("next-step-item-process");
            $(".next-step-item-first").removeClass("next-step-item-finish");
            $(".next-step .next-step-item:nth-child(2)").removeClass("next-step-item-process");
            $(".next-step .next-step-item:nth-child(2)").addClass("next-step-item-wait");
            // 内容显示状态
            $(".read-agreement").css("display", "none");
            $(".select-type").css("display", "block");
        });

        $(".continue-btn").bind("click", function() {
            $(".next-step .next-step-item:nth-child(2)").removeClass("next-step-item-process");
            $(".next-step .next-step-item:nth-child(2)").addClass("next-step-item-finish");
            $(".next-step .next-step-item:nth-child(3)").removeClass("next-step-item-wait");
            $(".next-step .next-step-item:nth-child(3)").addClass("next-step-item-process");
            // 内容显示状态
            $(".read-agreement").css("display", "none");
            $(".apply-open-shop").css("display", "block");
        });

        $(".goback2-btn").bind("click", function() {
            $(".next-step .next-step-item:nth-child(3)").removeClass("next-step-item-process");
            $(".next-step .next-step-item:nth-child(3)").addClass("next-step-item-wait");
            $(".next-step .next-step-item:nth-child(2)").removeClass("next-step-item-finish");
            $(".next-step .next-step-item:nth-child(2)").addClass("next-step-item-process");
            // 内容显示状态
            $(".apply-open-shop").css("display", "none");
            $(".read-agreement").css("display", "block");
        });

        // 正式创建商铺
        $(".confirm-btn").bind("click", function () {
            // ajax请求服务器后台创建商铺记录
            // code...
        });
    });
</script>
</html>