<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>卖家中心</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/seller-space.css}">
</head>
<body>
<div class="gm-cover-wrap">
    <div class="gm-cover">
        <ul class="layui-nav" style="padding: 0">
            <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
            <li th:if="${session.loginUser eq null}" class="layui-nav-item"><a href="javascript:void(0);" onclick="loginLayer()">你好，请登录</a></li>
            <li th:if="${session.loginUser != null}" class="layui-nav-item">
                <a href="#" th:text="${session.loginUser.username}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <div class="nav-menu-bd-panel">
                            <div class="nav-user-wrapper"><img th:src="@{'/image/head/' + ${session.loginUser.headImage}}"></div>
                            <div class="nav-user-info">
                                <p class="nav-user-operate" style="text-align: right">
                                    <a th:href="@{/member/info}">帐号管理</a>
                                    <span class="site-nav-pipe">|</span>
                                    <a th:href="@{/logout}">退出</a>
                                </p>
                                <p class="level-info gm-score" th:text="'逛购值: ' + ${session.loginUser.experience}">逛购值:123</p>
                                <p class="level-info">LV1</p>
                            </div>
                            <a class="site-nav-user-privilege" href="#" target="_top">查看你的专属权益</a>
                        </div>
                    </dd>
                </dl>
            </li>

            <li class="layui-nav-item f-right">
                <a href="javascript:void(0)" onclick="feedBack()">意见反馈</a>
            </li>
            <li class="layui-nav-item f-right">
                <a href="">卖家中心</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/seller/open-shop}">免费开店</a></dd>
                    <dd><a th:href="@{/seller/release}" th:if="${session.loginUser?.role eq 1}">发布商品</a></dd>
                    <dd><a th:href="@{/seller/manage}" th:if="${session.loginUser?.role eq 1}">管理发布商品</a></dd>
                    <dd><a th:href="@{/seller/order}" th:if="${session.loginUser?.role eq 1}">商品订单管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item site-nav-pipe f-right">|</li>
            <li class="layui-nav-item f-right">
                <a href="">我的逛购</a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/member/order}">我的订单</a></dd>
                    <dd><a th:href="@{/member/cart}">购物车</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="indexroot">
        <span>卖家工作台</span>
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="left-seller-menu">
            <div><a th:href="@{/seller/release}" th:classappend="${locationMode?.location eq 'release'} ? 'menu-on'">发布商品</a>
            </div>
            <div><a th:href="@{/seller/manage}" th:classappend="${locationMode?.location eq 'manage'} ? 'menu-on'">管理发布商品</a>
            </div>
            <div><a th:href="@{/seller/order}"
                    th:classappend="${locationMode?.location eq 'order'} ? 'menu-on'">商品订单管理</a></div>
        </div>
        <div class="main-seller-bd">
            <div class="main-release-bd" th:if="${locationMode?.location eq 'release'}">
                <!--                发布商品主体-->
                <div class="release-goods-wrapper">
                    <!-- 商品一级分类查看，二级分类、品牌的添加-->
                    <form class="layui-form category-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">一级分类</label>
                            <div class="layui-input-inline">
                                <select class="category1" lay-filter="category1">
                                    <option value="">请选择一级分类</option>
                                </select>
                            </div>
                            <label class="layui-form-label">二级分类</label>
                            <div class="layui-input-inline">
                                <select class="category2" lay-filter="category2">
                                    <option value="">请选择二级分类</option>
                                </select>
                            </div>
                            <label class="layui-form-label">品牌分类</label>
                            <div class="layui-input-inline">
                                <select class="brand" lay-filter="brand">
                                    <option value="">请选择品牌</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="spuName" required lay-verify="spuName"
                                       placeholder="如：Huawei/华为 P30全面屏超感光徕卡三摄变焦双景录像980芯片智能手机p30" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品封面</label>
                            <div class="layui-input-inline">
                                <input class="shopImage" type="hidden" name="shopImage" lay-verify="shopImage" required>
                                <img class="cover-img"
                                     src="http://gw.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_50x50.jpg"
                                     width="50" height="50">
                                <button type="button" class="layui-btn" id="uploadCoverBtn">
                                    <i class="layui-icon"></i>上传图片
                                </button>
                                <input class="layui-upload-file" type="file" accept="undefined">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">产品概述</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea" name="description"></textarea>
                            </div>
                        </div>
                        <div style="width: 216px; margin: 0 auto;">
                            <button type="button" class="layui-btn layui-btn-fluid release-goods-btn" lay-submit
                                    lay-filter="release-goods-btn">发布商品
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-manage-bd" th:if="${locationMode?.location eq 'manage'}">
                <div class="manage-spu-wrapper" th:if="${locationMode?.mode eq 'spu'}">
                    <div class="m-title"><a href="#">管理发布商品</a></div>
                    <table class="m-goods-tbl">
                        <thead>
                        <tr>
                            <th>商品id</th>
                            <th th:width="250px">商品名称</th>
                            <th>商品封面</th>
                            <th th:width="150px">商品分类</th>
                            <th>上架时间</th>
                            <th>修改时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="SPU : ${SPUList}">
                            <td th:text="${SPU.id}"></td>
                            <td th:text="${SPU.spuName}"></td>
                            <td><img th:src="@{'/image/goods/'+ ${SPU.spuImage}} " style="width: 100px;height: 100px;padding: 2px 0;"></td>
                            <td th:text="${SPU.category}"></td>
                            <td th:text="${#dates.format(SPU.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(SPU.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td><span th:classappend="${SPU.isOn eq '已上架'}?'goods-on':'goods-off'"><a class="goods-status" onclick="toggleGoodsStatus(this)" th:text="${SPU.isOn}"></a></span></td>
                            <td>
                                <span><a th:href="@{'/seller/manage/spu/' + ${SPU.id} + '/sku'}">库存信息</a></span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="manage-sku-wrapper" th:if="${locationMode?.mode eq 'sku'}">
                    <div class="m-title"><a th:href="@{/seller/manage}">管理发布商品</a> &gt; <a href="#">库存管理</a></div>
                    <h2>商品信息</h2>
                    <table class="m-goods-tbl">
                        <thead>
                        <tr>
                            <th>商品id</th>
                            <th width="250px">商品名称</th>
                            <th>商品封面</th>
                            <th width="150px">商品分类</th>
                            <th>上架时间</th>
                            <th>修改时间</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${SPU.id}"></td>
                            <td th:text="${SPU.spuName}"></td>
                            <td><img th:src="@{'/image/goods/'+ ${SPU.spuImage}} " style="width: 100px;height: 100px;padding: 2px 0;"></td>
                            <td th:text="${SPU.category}"></td>
                            <td th:text="${#dates.format(SPU.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(SPU.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td><span th:classappend="${SPU.isOn eq '已上架'}?'goods-on':'goods-off'"><a class="goods-status" href="javascript:void(0);" th:text="${SPU.isOn}"></a></span></td>
                        </tr>
                        </tbody>
                    </table>

                    <h2>添加库存</h2>
                    <div class="sku-form-wrapper">
                        <form class="m-attribute-form" action="POST">
                            <table>
                                <tr>
                                    <td>商品单元名称</td>
                                    <td><input class="sku-name" name="skuName" type="text"></td>
                                </tr>
                                <tr>
                                    <td>商品库存</td>
                                    <td><input class="sku-stock" name="skuStock" type="text"></td>
                                </tr>
                                <tr>
                                    <td>价格</td>
                                    <td><input class="sku-price" name="skuPrice" type="text"></td>
                                </tr>
                                <tr>
                                    <td>参数规格分类</td>
                                    <td>
                                        <div class="m-attr-wrapper m-attr-value-wrapper">
                                            <div class="m-attr-item" th:each="attribute: ${attributeList}">
                                                <label th:text="${attribute.name}">颜色</label>
                                                <select name="attributes" th:attrId="${attribute.values[0].attrId}" >
                                                    <option th:each="value : ${attribute.values}" th:text="${value.attrValue}" th:value="${value.attrValueId}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>商品单元图片</td>
                                    <td>
                                        <div class="goods-img-wrapper">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="uploadGoodsBtn">
                                                <i class="layui-icon"></i>上传图片
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>提交</td>
                                    <td><button type="button" class="layui-btn layui-btn-primary upload-sku-btn" style="margin-top: 8px">上传商品库存单元</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <h2>库存信息</h2>
                    <table class="m-sku-tbl">
                        <thead>
                        <tr>
                            <th>库存id</th>
                            <th width="280px">商品名称</th>
                            <th>商品图片</th>
                            <th>库存量</th>
                            <th>价格（单位元）</th>
                            <th>上架时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="SKU : ${SKUList}">
                            <td th:text="${SKU.id}">1</td>
                            <td th:text="${SKU.skuName}">2</td>
                            <td>
                                <span th:each="image : ${SKU.images}">
                                    <img th:src="@{'/image/goods/' + ${image}}" width="50px" height="50px">
                                </span>
                            </td>
                            <td th:text="${SKU.stock}">4</td>
                            <td th:text="${SKU.price}">5</td>
                            <td th:width="250px" th:text="${#dates.format(SKU.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}">修改</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="main-order-bd" th:if="${locationMode?.location eq 'order'}">
                <div class="m-title"><a href="#">订单管理</a></div>
                <table class="m-order-tbl">
                    <thead>
                    <tr>
                        <th>订单id</th>
                        <th>商品(名称、图片、规格)</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>付款金额</th>
                        <th>买家</th>
                        <th>交易时间</th>
                        <th>交易状态</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tradeOrder : ${tradeOrderList}">
                            <td th:text="${tradeOrder.id}"></td>
                            <td class="order-sku-td" width="380px">
                                <div class="sku-image"><img th:src="@{'/image/goods/' + ${tradeOrder.image}}" width="80px" height="80px"></div>
                                <div class="sku-more-info">
                                    <a class="order-sku-name" th:text="${tradeOrder.skuName}" th:href="@{'/goods/' + ${tradeOrder.spuId}}" target="_blank"></a>
                                    <p class="order-sku-attr-desc" th:text="${tradeOrder.attrDescription}"></p>
                                </div>
                            </td>
                            <td th:text="${tradeOrder.price}"></td>
                            <td th:text="${tradeOrder.amount}"></td>
                            <td th:text="${tradeOrder.totalPrice}"></td>
                            <td th:text="${tradeOrder.buyerName}"></td>
                            <td th:text="${#dates.format(tradeOrder.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td><span class="trade-finish">交易完成</span></td>
                        </tr>
                    </tbody>
                </table>
                <div id="seller-order-page" style="float: right"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        layui.use('laypage', function () {
            let laypage = layui.laypage;
            laypage.render({
                elem: 'seller-order-page',
                count: [[${page?.total}]], // 数据总数
                limit: [[${page?.pageSize}]], // 每页最多显示条数
                curr: [[${page?.pageNum}]],
                jump: function (obj, first) {
                    console.log(obj);
                    if (!first) {
                        position = window.location.href;
                        end = position.lastIndexOf("order/");
                        if (end === -1) {
                            window.location.href = position + "/" + obj.curr;
                        } else {
                            window.location.href = position.substring(0, end) + "order/" + obj.curr;
                        }
                    }
                }
            });
        });
    });
</script>
<script type="text/javascript" th:inline="javascript">
    // 全局路径
    var ctxPath = /*[[@{/}]]*/'';
    // 声明类别选择以及品牌id变量
    category1Id = 0, category2Id = 0, brandId = 0;
    // 库存属性
    attributeList = [[${attributeList}]];

    function toggleGoodsStatus(e) {
        let spuId = $(e).parent().parent().parent().children("td:first").text();
        $.ajax({
            type: 'POST',
            url: ctxPath + 'goods/toggle-status',
            data: {spuId: spuId},
            error: function (error) {
                layer.msg("未知错误，更新商品状态失败!", {icon: 7});
            },
            success: function (res) {
                let code = res['code'];
                let msg = res['msg'];
                if (code == 200) {
                    layer.msg(msg, {icon: 1});
                    window.setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                    return;
                } else {
                    layer.msg("更新失败!", {icon: 7});
                }
            }
        });
        console.log(e);
    }
    $(function () {
        layui.use('upload', function () {
            var upload = layui.upload;
            upload.render({
                elem: '#uploadCoverBtn'
                , url: '../upload/goods'
                , done: function (res) {
                    imageName = res['data'];
                    $(".shopImage").val(imageName);
                    $(".cover-img").attr("src", "../image/goods/" + imageName);
                }
                , error: function (err) {
                    layer.msg("封面上传失败!", {icon: 7});
                }
            });
            upload.render({
                elem: '#uploadGoodsBtn'
                , url: ctxPath + 'upload/goods'
                , done: function (res) {
                    imageName = res['data'];
                    $(".goods-img-wrapper").prepend("<img src='"+ ctxPath + "image/goods/" + imageName + "' width='50px' height='50px' />")
                    $(".goods-img-wrapper").prepend("<input name='skuImages' type='text' style='display: none' value='"+ imageName +"' />")
                }
                , error: function (err) {
                    layer.msg("商品图片上传失败!", {icon: 7});
                }
            });
        });

        layui.use("form", function () {
            let form = layui.form;
            form.verify({
                spuName: function (value) {
                    if (value.length < 3) {
                        return "商品名称不得小于3个字符";
                    }
                },
                shopImage: function (value) {
                    if (value.length <= 0) {
                        return "请先上传商品封面";
                    }
                }
            });

            form.on("submit(release-goods-btn)", function (data) {
                if (category1Id == 0) {
                    layer.msg("请选择一级分类",);
                    return;
                }
                if (category2Id == 0) {
                    layer.msg("请选择二级分类",);
                    return;
                }
                if (brandId == 0) {
                    layer.msg("请选择品牌分类",);
                    return;
                }

                let shopImage = data['field']['shopImage'];
                let spuName = data['field']['spuName'];
                let description = data['field']['description'];
                let jdata = {
                    spuName: spuName,
                    spuImage: shopImage,
                    category1Id: category1Id,
                    category2Id: category2Id,
                    brandId: brandId,
                    description: description
                };

                $.ajax({
                    type: 'POST',
                    url: './release-goods',
                    data: JSON.stringify(jdata),
                    dataType: 'json',
                    contentType: "application/json;charset=UTF-8",
                    error: function (error) {
                        layer.msg("未知错误，上传商品失败!", {icon: 7});
                    },
                    success: function (res) {
                        code = res['code'];
                        msg = res['msg'];
                        if (code === 200) {
                            layer.msg(msg, {icon: 1});
                            setTimeout(function () {
                                window.location.href = ctxPath + "seller/manage";
                            }, 1800);
                        }
                        if (code == 400) {
                            layer.msg(msg, {icon: 7});
                        }
                    }
                });
                return false;
            });
        });

        $.fn.serializeJson=function(){
            var serializeObj={};
            var array=this.serializeArray();
            var str=this.serialize();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    }else{
                        serializeObj[this.name]=[serializeObj[this.name],this.value];
                    }
                }else{
                    serializeObj[this.name]=this.value;
                }
            });
            return serializeObj;
        };

        function renderForm() {
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        }

        $(".category-form").show(function () {
            goodsCategory = [[${goodsCategory}]];
            if (goodsCategory) {
                category1List = goodsCategory['category1List'];
                category2List = goodsCategory['category2List'];
                brandList = goodsCategory['brandList'];
                brandCategoryList = goodsCategory['brandCategoryList'];
                $(".category1").html("");
                for (let i = 0; i < category1List.length; i++) {
                    $(".category1").append("<option value='" + category1List[i]['id'] + "'>" + category1List[i]['category1Name'] + "</option>");
                }
                renderForm();
                layui.use('form', function () {
                    var form = layui.form;
                    form.on('select(category1)', function (data) {
                        category1Id = data.value;
                        $(".category2").html("");
                        let first = true;
                        for (let i = 0; i < category2List.length; i++) {
                            if (data.value == category2List[i]['category1Id']) {
                                if (first) {
                                    category2Id = category2List[i]['id'];
                                    first = false;
                                }
                                $(".category2").append("<option value='" + category2List[i]['id'] + "'>" + category2List[i]['category2Name'] + "</option>");
                            }
                        }
                        renderForm();
                    });
                    form.on('select(category2)', function (data) {
                        category2Id = data.value;
                        $(".brand").html("");
                        let first = true;
                        for (let i = 0; i < brandCategoryList.length; i++) {
                            if (data.value == brandCategoryList[i]['category2Id']) {
                                for (let j = 0; j < brandList.length; j++) {
                                    if (brandList[j]['id'] == brandCategoryList[i]['brandId']) {
                                        if (first) {
                                            brandId = brandList[j]['id'];
                                            first = false;
                                        }
                                        $(".brand").append("<option value='" + brandList[j]['id'] + "'>" + brandList[j]['brandName'] + "</option>");
                                    }
                                }
                            }
                        }
                        renderForm();
                    });
                    form.on('select(brand)', function (data) {
                        brandId = data.value;
                    });
                });
            }
        });



        // 商品SKU上传事件
        $(".upload-sku-btn").bind("click", function () {
            let formData = $(".m-attribute-form").serializeJson();
            if (typeof(formData['skuImages']) == "string") {
                let tmp = formData['skuImages'];
                delete formData['skuImages'];
                formData['skuImages'] = [tmp];
            }
            if (typeof(formData['attributes']) == "string") {
                let tmp = formData['attributes'];
                delete formData['attributes'];
                formData['attributes'] = [tmp];
            }
            // JSON.stringify($(".m-attribute-form").serializeJson())
            $.ajax({
                type: 'POST',
                url: "./sku/add",
                data: JSON.stringify(formData),
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                error: function (error) {
                    layer.msg("未知错误，上传商品单元失败!", {icon: 7});
                },
                success: function (res) {
                    code = res['code'];
                    msg = res['msg'];
                    if (code === 200) {
                        layer.msg(msg, {icon: 1});
                        window.setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    }
                    if (code == 400) {
                        layer.msg(msg, {icon: 7});
                    }
                }
            });
        })
    });

</script>
</html>