<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milen.mapper.ApplyShopRecordMapper">


    <insert id="saveApplyShopRecord" useGeneratedKeys="true" keyProperty="id" parameterType="com.milen.model.po.ApplyShopRecord">
        INSERT INTO gm_apply_shop_record
        (shop_id, user_id, admin_id, review_status, gmt_create, gmt_modified)
        VALUES
        (#{shopId}, #{userId}, #{adminId}, #{reviewStatus}, #{gmtCreate}, #{gmtModified})
    </insert>
</mapper>