<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milen.mapper.AttributeMapper">
    <insert id="insertAttrValueAndAttrNameByAttrId">
        INSERT INTO gm_attr_value
        (attr_id, attr_name, attr_value, gmt_create, gmt_modified)
        VALUES
        (#{attrId}, #{attrName}, #{attrValue}, #{gmtModified}, #{gmtModified})
    </insert>

    <insert id="insertBrand" keyProperty="id" useGeneratedKeys="true" parameterType="com.milen.model.dto.CategoryBrandDTO" >
        INSERT INTO gm_brand
        (brand_name, gmt_create, gmt_modified)
        VALUES
        (#{brandName}, #{date}, #{date})
    </insert>

    <insert id="insertCatrgory2Brand">
        INSERT INTO gm_brand_category
        (brand_id, category2_id, gmt_create, gmt_modified)
        VALUES
        (#{brandId}, #{category2Id}, #{date}, #{date})
    </insert>

    <insert id="insertAttrName">
        INSERT INTO gm_attr
        (attr_name, category2_id, gmt_create, gmt_modified)
        VALUES
        (#{attrName}, #{category2Id}, #{date}, #{date})
    </insert>

    <select id="getAttributeIdsByCategory2" resultType="java.lang.Long">
        SELECT id FROM gm_attr WHERE category2_id = #{id}
    </select>

    <select id="getAttributeNameAndValueByIds" resultType="com.milen.model.po.AttributeValue">
        SELECT attr_id, attr_name, attr_value FROM gm_attr_value
        WHERE attr_id IN (
        <foreach collection="idList" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>

    <select id="getAttrNameByAttrId" resultType="java.lang.String">
        SELECT attr_name FROM gm_attr_value
        WHERE attr_id = #{attrId}
        LIMIT 1,1
    </select>

    <select id="listAttrIdListByCategory2Id" resultType="java.lang.Long">
        SELECT id FROM gm_attr WHERE category2_id = #{category2Id}
    </select>

    <select id="listAttrValueDTOByAttrIdList" resultType="com.milen.model.dto.AttributeValueDTO">
        SELECT id, attr_id, attr_name, attr_value FROM gm_attr_value
        WHERE attr_id IN
        <foreach collection="attrIdList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="listAttrAndAttrValue" resultType="com.milen.model.dto.AttrAndAttrValueDTO">
        SELECT id attrValueId, attr_id attrId
        FROM gm_attr_value
        WHERE id IN
        <foreach collection="attributes" item="attributeValueId" open="(" close=")" separator=",">
            #{attributeValueId}
        </foreach>
    </select>

    <select id="listAttrIdBySpuId" resultType="java.lang.Long">
        SELECT DISTINCT(attr_id) FROM gm_sku_attr_value WHERE spu_id = #{spuId}
    </select>

    <select id="listAttrValueIdBySkuId" resultType="java.lang.Long">
        SELECT DISTINCT(attr_value_id) FROM gm_sku_attr_value WHERE sku_id = #{skuId}
    </select>

    <select id="listAttrValueByAttrId" resultType="com.milen.model.po.AttributeValue">
        SELECT id, attr_id, attr_value FROM gm_attr_value WHERE attr_id = #{attrId}
    </select>
</mapper>