<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milen.mapper.AttributeMapper">

    <select id="getAttributeIdsByCategory2" resultType="java.lang.Long">
        SELECT id FROM gm_attr WHERE category2_id = #{id}
    </select>

    <select id="getAttributeNameAndValueByIds" resultType="com.milen.model.po.AttributeValue">
        SELECT attr_name, attr_value FROM gm_attr_value
        WHERE attr_id IN
        <foreach collection="idList" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>
</mapper>