<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milen.mapper.ShopMapper">

    <insert id="saveShop" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.milen.model.po.Shop">
        INSERT INTO gm_shop
        (user_id, shop_image, shop_name, shop_address, shop_description, shop_score,
        shop_deposit, shop_account, shop_status, gmt_create, gmt_modified)
        VALUES
        (#{userId}, #{shopImage}, #{shopName}, #{shopAddress}, #{shopDescription},
        #{shopScore}, #{shopDeposit}, #{shopAccount}, #{shopStatus}, #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="getShopCountByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM gm_shop WHERE user_id = #{userId}
    </select>

    <select id="getShopIdByUserId" resultType="java.lang.Long">
        SELECT id FROM gm_shop WHERE user_id = #{userId}
    </select>

    <select id="listSPU" resultType="com.milen.model.po.SPU">
        SELECT * FROM gm_spu WHERE shop_id = #{shopId}
    </select>

    <select id="getCategoryDescription" resultType="com.milen.model.dto.CategoryDescriptionDTO">
        SELECT c1.category1_name, c2.category2_name, b1.brand_name
        FROM gm_category1 c1, gm_category2 c2, gm_brand b1
        WHERE
        c1.id = #{category1Id} AND c2.id = #{category2Id} AND b1.id = #{brandId}
    </select>

    <select id="getShopNameById" resultType="java.lang.String">
        SELECT shop_name FROM gm_shop
        WHERE id = #{id}
    </select>
</mapper>