<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milen.mapper.TradeMapper">

    <insert id="insertTradeOrder">
        INSERT INTO gm_trade_order
        (user_id,spu_id,sku_id,sku_name,image,price,amount,attr_description,gmt_create,gmt_modified)
        VALUES
        (#{userId},#{tradeOrderDTO.spuId}, #{tradeOrderDTO.skuId}, #{tradeOrderDTO.skuName}, #{tradeOrderDTO.image},
        #{tradeOrderDTO.price}, #{tradeOrderDTO.amount}, #{tradeOrderDTO.attrDescription}, #{date}, #{date})
    </insert>

    <insert id="insertTradeOrderByShopCart">
        INSERT INTO gm_trade_order
        (user_id,spu_id,sku_id,sku_name,image,price,amount,attr_description,gmt_create,gmt_modified)
        VALUES
        (#{userId},#{shopCart.spuId}, #{shopCart.skuId}, #{shopCart.skuName}, #{shopCart.image},
        #{shopCart.price}, #{shopCart.amount}, #{shopCart.attrDescription}, #{date}, #{date})
    </insert>

    <update id="updateSkuStockById">
        UPDATE gm_sku SET stock = stock - 1 WHERE stock > 0
    </update>

    <select id="listTradeOrderByUserId" resultType="com.milen.model.dto.TradeOrderDTO">
        SELECT * FROM gm_trade_order WHERE user_id = #{userId}
    </select>

    <select id="listTradeOrderBySellerId" resultType="com.milen.model.po.TradeOrder">
        SELECT * FROM gm_trade_order WHERE spu_id IN
        (SELECT spu.id FROM gm_spu spu WHERE spu.shop_id = (SELECT shop.id FROM gm_shop shop WHERE shop.user_id = #{sellerId}))
    </select>

    <select id="getUsernameById" resultType="java.lang.String">
        SELECT username FROM gm_user WHERE id = #{userId}
    </select>
</mapper>