.admin-header {
    line-height: 60px;
    background-image: linear-gradient(120deg, #66a6ff 0%,#89f7fe 116%);
}

.layui-logo, .layui-nav-item > a {
    color: #fff !important;
}

.layui-layout-right > .layui-nav-item > a {
    color: #666 !important;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #c0ff00fa !important;
}

.admin-side-scroll {
    background-image: linear-gradient(120deg, #66a6ff 0,#89f7fe 116%);
}

.admin-nav-tree {
    background-color: transparent;
}

.admin-nav-tree .layui-nav-item a:hover {
    background-color: #26cc9e94 !important;
}

.admin-nav-on {
    background-color: #26cc9e94;
}

.admin-nav-tree .layui-nav-child {
    background-color: rgba(0,0,0,.2)!important;
}

.record-agree-btn {
    height: 28px;
    line-height: 28px;
}

.record-agreed {
    background-color: transparent;
    color: #666;
}

.layui-table, .layui-table th {
    text-align: center;
}

.shop-info-card-bd > p{
    padding: 10px 0px;
    font-size: 15px;
}

.shop-info-card-hd {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.add-cat2-btn, .add-brand-btn {
    float: left;
}