.admin-header {
    line-height: 60px;
    background-image: linear-gradient(120deg, #66a6ff 0%,#89f7fe 116%);
}

.layui-logo, .layui-nav-item > a {
    color: #fff !important;
}

.layui-layout-right > .layui-nav-item > a {
    color: #666 !important;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #c0ff00fa !important;
}

.admin-side-scroll {
    background-image: linear-gradient(120deg, #66a6ff 0,#89f7fe 116%);
}

.admin-nav-tree {
    background-color: transparent;
}

.admin-nav-tree .layui-nav-item a:hover {
    background-color: #26cc9e94 !important;
}

.admin-nav-on {
    background-color: #26cc9e94;
}

.admin-nav-tree .layui-nav-child {
    background-color: rgba(0,0,0,.2)!important;
}

.record-agree-btn {
    height: 28px;
    line-height: 28px;
}

.record-agreed {
    background-color: transparent;
    color: #666;
}

.layui-table, .layui-table th {
    text-align: center;
}

.shop-info-card-bd > p{
    padding: 10px 0px;
    font-size: 15px;
}

.shop-info-card-hd {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.add-cat2-btn, .add-brand-btn {
    float: left;
}

.cat2-attribute-value-wrapper {
    display: flex;
    float: left;
}

.av-item-wrapper {
    border-right: 1px solid #ddd;
    font-size: 15px;
    padding: 0px 30px;
}

.av-item-wrapper:last-child {
    border-right: none;
}

.av-item-wrapper > label {
    font-size: 18px;
}

.av-item-value {
    margin: 10px auto;
}

.av-item-value input {
    padding-left: 10px;
    border-color: #e6e6e6;
    height: 38px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}

.av-item .layui-btn {
    width: 100%;
}

.av-item-wrapper > label {
    padding-top: 10px;
}

.av-item-value > label {
    margin-right: 8px;
}

.agreed-td {
    background-color: #33CC33;
    padding: 3px 6px;
    border-radius: 3px;
    color: #fff;
}

.no-agreed-td {
    background-color: #ffbe07;
    padding: 3px 6px;
    border-radius: 3px;
    color: #fff;
}

.record-agreed:hover {
    color: #666;
}

.m-title {
    margin-bottom: 15px;
}