/*头部标题*/
.header {
    background-image: linear-gradient(90deg,#4574f1 0,#00abf3);
}

.indexroot {
    width: 1190px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

.indexroot span {
    font-size: 18px;
    color: #FFF;
}

/*主体部分*/
.main-container {
    width: 1190px;
    margin: 20px auto;
}

.left-seller-menu {
    float: left;
    width: 130px;
}

.main-seller-bd {
    float: left;
    width: 1060px;
}

.left-seller-menu > div {
    margin-bottom: 10px;
}

.main-container::after {
    display: block;
    content: '';
    clear: both;
}

.menu-on {
    color: #F40;
}

.m-goods-tbl, .m-sku-tbl {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.m-goods-tbl th, .m-sku-tbl th{
    background-color: #f5f5f5;
    padding: 5px 0;
    font-weight: normal;
}

.m-goods-tbl tbody td, .m-sku-tbl tbody td{
    border: 1px solid #ddd;
}

.m-goods-tbl thead th , .m-sku-tbl thead th{
    border: 1px solid #ddd;
}

.goods-on {
    background-color: #33CC33;
    padding: 3px 6px;
    border-radius: 3px;
}

.goods-off {
    background-color: #FF6666;
    padding: 3px 6px;
    border-radius: 3px;
}

.goods-status {
    color: #fff;
}

.m-title {
    margin-bottom: 10px;
}

.manage-sku-wrapper > h2 {
    margin: 10px 0;
    color: #0099CC;
}

.m-attr-wrapper {
    display: flex;
}

.m-attr-item {
    font-size: 16px;
}

.m-attr-item input {
    vertical-align: bottom;
    zoom: 133%;
}

.sku-form-wrapper table tr > td:first-child {
    padding: 5px 5px 10px 0px;
}

.sku-name, .sku-stock, .sku-price {
    padding-left: 5px;
    font-size: 16px;
    width: 200px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.goods-img-wrapper img {
    margin-right: 13px;
}

.upload-sku-btn {
    width: 200px;
}